* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

.container {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease;
  transition: all 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.date-section {
  font-size: 2rem;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.ampm {
  font-size: 1.5rem;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.timer {
  display: flex;
  align-items: center;
  font-size: 10rem;
  letter-spacing: 10px;
}

.timer-text, .timer-symbole {
  padding: 10px;
  background-color: rgb(35, 35, 35);
  border-radius: 10px;
  margin: 0 10px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 50px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .timer {
      font-size: 5rem;
      flex-direction: column;
  }

  .timer-symbole {
      display: none;
  }

  .timer-text {
      margin: 10px 0;
      padding: 5px;
  }
}
